.topPage
  %nav.nav
    %ul
      -# %li.personIcon= link_to(content_tag(:i, "", class: 'fas fa-2x fa-user'), user_path(current_user.id))
      -# %li.appIcon= link_to image_tag("techpit-march-icon.png"), action: "index"
  #tinderslide
    %ul
      - @inspections.each do |inspection|
        %li{"data-inspection_id" => "#{inspection.id}"}
          .userName
            = inspection.company.name
          = image_tag inspection.company.img_name.url(:thumb)
          .like
          .dislike
    .noUser 近くにお相手がいません。
  #actionBtnArea.actions
    %a.dislike{:href => "#"}
      %i.fas.fa-times.fa-2x
    %a.like{:href => "#"}
      %i.fas.fa-heart.fa-2x
:javascript
  // スワイプするユーザー数の定数を定義
  var inspectionsNum = #{@inspections.length}
  var currentInspectionIndex = 0;
  var postReaction = function (inspection_id, reaction) {
    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
        }
    });
    $.ajax({
      type: "POST",
      url: "#{users_sp_inspections_path}",
      data: {
        inspection_id: inspection_id,
        reaction: reaction,
      },
      success: function(j_data){
        console.log("success")
      }
    });
  }
  $("#tinderslide").jTinder({
    onDislike: function (item) {
      currentInspectionIndex++;
      checkUserNum();
      var inspection_id = item[0].dataset.inspection_id
      postReaction(inspection_id, 'bad')
    },
    onLike: function (item) {
      currentInspectionIndex++;
      checkUserNum();
      var inspection_id = item[0].dataset.inspection_id
      postReaction(inspection_id, 'good')
    },
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'
  });
  $('.actions .like, .actions .dislike').click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr('class'));
  });

  function checkUserNum() {
    // スワイプするユーザー数とスワイプした回数が同じになればaddClassする
    if (currentInspectionIndex === inspectionsNum){
      $(".noUser").addClass("is-active");
      $("#actionBtnArea").addClass("is-none")
      return;
    }
  }
