.pcMenubar
  .container
    .pcMenubar_contents
      .pcMenubar_contents_top
        = link_to 'TOP', '#', {:class=>'btn-square-shadow'}
      .pcMenubar_contents_bottom
        .pcMenubar_contents_lists
          %ul
            = link_to '#' do
              %li.list_title
                %i.fas.fa-angle-right.fa-lg.icon<>
                リスト一覧
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
            = link_to '#' do
              %li.list
                %i.far.fa-file.icon<>
                  人材系
