.pcIndexPage
  .container
    %h1 データの読み込み方法
    %p
      CSVファイルでインポートすることが可能です。
      はじめの一行目は見出しとなります。
      %br
      下記のデータを登録してください。
    %ul
      -# - Product.columns.each do |column|
        -# - if cloum.name.in? ["i*Product.accessible_attributes]
      %li 会社名
      %li URL

    = form_with url: users_pc_lists_path, local: true do |f|
      -# # -# - if @product_import.errors.any?
      -# #   #error_explanation
      -# #     %h2 1 prohibited this import from completing:
      -# #     %ul
      -# #       - @product_import.errors.full_messages.edo |msg|
      -# #         %li = msg
      = fields_for @list do |c|
        = c.text_field :title

      .field
        = f.file_field :file
      .buttons
        = f.submit 'Import'
